    <link type="text/css" rel="stylesheet" href="css/bootstrapImport.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/mycode.js"></script>
    <title>SAR EMR App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="SAR App" />
    <meta property="og:description" content="This is a PROTOTYPE app for helping a member of the San Ramon Search and
    Rescue team assess a situation and determine what course of action
    should be taken in a triage situation. It is not an official app and
    should not be considered to be a substitute for an actual trained individual
    or professional. " />
