    <link type="text/css" rel="stylesheet" href="css/bootstrapImport.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Battle for the Ring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Battle for the Ring IX" />
    <meta property="og:description" content="The primary goal of Battle for the
    Ring is to provide an intense and excellent fighting and social experience.
    Expect to a full-contact game. Unlike many other LARPs or boffer games,
    Battle for the Ring offers a heavy-impact, full contact game in which shield
    bashing, shield kicking, grappling (some restrictions apply), charging, and
    hard, fast-paced swinging is not only allowed, but encouraged!" />
    <meta property="og:image" content="http://www.battleforthering.com/assets/img/thumb.jpg">
    <meta property="og:url" content="http://www.battleforthering.com/" />
