<!--loads the head-->
<link type="text/css" rel="stylesheet" href="css/bootstrapImport.css">
<link type="text/css" rel="stylesheet" href="css/styles.css">
<script type="text/javascript" charset="utf-8" src="js/backbutton.js"></script>
<title>Dagorhir.com Under Construction</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:title" content="Dagorhir" />
<meta property="og:description" content="Dagorhir website currently underconstruction.
Dagorhir Battle Games is a battle game with full-contact melee fighting and ranged
combat as its primary focus. Fighters typically use foam weapons such as swords,
shields, and arrows." />
