<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Info</h2>
      <p>sakdfljhaslkd fjhsa lkdfjklsajdf
        sadfkl jsahdf jsahdfkljsahd lfkjasdf
        sdfkjs sdfkjsa dfasdf
      </p>
      <p>
        <a class="btn btn-default" href="#" role="button">Click me!</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h2>Info</h2>
      <p>sakdfljhaslkd fjhsa lkdfjklsajdf
        sadfkl jsahdf jsahdfkljsahd lfkjasdf
        sdfkjs sdfkjsa dfasdf
      </p>
      <p>
        <a class="btn btn-default" href="#" role="button">Click me!</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h2>Info</h2>
      <p>sakdfljhaslkd fjhsa lkdfjklsajdf
        sadfkl jsahdf jsahdfkljsahd lfkjasdf
        sdfkjs sdfkjsa dfasdf
      </p>
      <p>
        <a class="btn btn-default" href="#" role="button">Click me!</a>
      </p>
    </div>
  </div>
</div>
