<div class="container containerTextPadding">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h2>About/Disclaimer</h2>
      <p>
        This is a PROTOTYPE app for helping a member of the San Ramon Search and
        Rescue team assess a situation and determine what course of action
        should be taken in a triage situation. It is not an official app and
        should not be considered to be a substitute for an actual trained individual
        or professional.
      </p>
    </div>

    <div class="col-md-12 col-lg-12">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>
              Begin Triage
            </h3>
            <p>
              Some more info about usage and whatnot.
              <br></br>
              <a class="btn btn-default btn-block" href="html/whatToExpect.html" role="button">Start</a>
            </p>
          </div>
          <!--
          <div class="col-md-6">
            <h3>
              Title
            </h3>
            <p>
              Content
            </p>
            <p class="removeBottomMargin"></p>
          -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
