<div class="container containerTextPadding">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h2>Volunteering</h2>
      <p>
        The event is run by people like you! We appreciate your service.
        Click here!!! need new link!!! to volunteer!
      </p>
      <p>
        We need people of intelligence on this sort of mission…quest….thing…
        We have Aragorn’s sword, Legolas’ bow, Gimli’s axe, Gandalf’s staff,
        and Boromir’s bullseye-painted chest, and we have some Hobbits!!! to
        bear!!!typo? the ring… but do we have your time? Your dedication? Your
        love of Battle for the Ring? Will you ‪#‎JOINTHEFELLOWSHIP‬?
      </p>
    </div>
  </div>
</div>
