h2 {
  color: #000000;
  font-weight: 400;
  font-size: 28px; }

p {
  font-size: 18px; }

li {
  font-size: 22px; }

.heroMain {
  background-color: #FF6030;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0; }
  .heroMain h1 {
    color: #000000;
    margin-bottom: 8px;
    margin-top: 15px;
    font-size: 28px; }
    .heroMain h1 a {
      text-decoration: none;
      color: #000000; }
  .heroMain h3 {
    margin-top: 0px; }
  .heroMain p {
    color: #000000;
    font-size: 18px; }

.removeBottomMargin {
  margin-bottom: 0; }

.whatToExpectFluff {
  background-image: url(../assets/img/bftrAbove.jpg);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.whatToExpectFluffPadding {
  padding-bottom: 40px; }

.whatToExpectTextPadding {
  padding-bottom: 85px;
  padding-top: 40px; }
  .whatToExpectTextPadding h1 a {
    text-decoration: none;
    color: #333333; }

.heroFluffContainer {
  padding-top: 25px; }

.heroMainFluff {
  background-image: url(../assets/img/heroSecondary.jpg);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.heroSecondaryFluff {
  background-image: url(../assets/img/volunteerImg.jpg);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.body1Fluff {
  margin-top: 25px;
  margin-bottom: 0;
  background-image: url(../assets/img/fieldBattle.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px; }

.containerTextPadding {
  padding-top: 14px; }

.container .jumbotron {
  border-radius: 0px;
  margin-bottom: 0; }

.jumbotron {
  padding-bottom: 0px;
  padding-top: 0px; }

.btn {
  background-image: none; }

.btn-next {
  background-color: rgba(255, 96, 48, 0.15); }

.indexBtnStyle .btn {
  text-align: left; }
