<div class="container containerTextPadding">
  <h2>Last Year's Schedule:</h2>
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <p>

        <h4>Thursday</h4><br>

        2:00 PM Troll Opens, Setup, Unofficial Fighting<br>

        5:30 PM Night Fighting<br>

        6:00 PM Dragon's Inn Game Room Opens<br>

        <h4>Friday</h4><br>

        8:30 AM Troll and Weapon Check Open<br>

        9:00 AM Field Fighting: Ditch<br>

        10:00 AM Tournament: Archery<br>

        11:00 AM Tournament: Sword and Board<br>

        11:00 AM Luncheon Activity: Valkyries<br>

        12:00 PM Lunch<br>

        12:00 PM Kiddie Castle: Daycare for kids at field-side<br>

        1:00 PM Valkyrie Class<br>

        1:00 PM Field Fighting: Ditch<br>

        1:30 PM Field Fighting: Realm Battles<br>

        2:30 PM Field Fighting: Unit Battles<br>

        3:30 PM Field Fighting: Relic Battles<br>

        4:30 PM Field Fighting: Ditch<br>

        6:00 PM Bardic Competition - Germania<br>

        7:00 PM Dragon's Inn Game Room Opens<br>

        7:30 PM Open House: Red Lantern Camps<br>
      </p>
    </div>
    <div class="col-md-4 col-lg-4">
      <p>
        <h4>Saturday</h4><br>

        8:30 AM Troll and Weapon Check Open<br>

        9:00 AM Field Fighting: Ditch<br>

        10:00 AM Tournament: Champion<br>

        11:00 AM Tournament: Four Man<br>

        12:00 PM Lunch<br>

        12:00 PM Kiddie Castle: Daycare for kids at field-side<br>

        1:00 PM Field Fighting Anduril VS The World<br>

        1:30 PM Field Fighting: Realm Battles<br>

        2:30 PM Field Fighting: Unit Battles<br>

        3:30 PM Field Fighting: Scenario Battles<br>

        4:30 PM Field Fighting: Ditch<br>

        6:00 PM Feast<br>

        7:30 PM Fashion Show<br>

        8:30 PM Goblin Auction<br>

        9:00 PM Dragon's Inn Game Room Opens<br>

        9:30 PM PUB!<br>
      </p>
    </div>
    <div class="col-md-4 col-lg-4">
      <p>
        <h4>Sunday</h4><br>

        8:30 AM Troll and Weapon Check Open<br>

        8:30 AM Realm Leader Breakfast<br>

        9:00 AM Field Fighting: Ditch<br>

        10:00 AM Arts and Sciences Judging<br>

        10:30 AM Tournament: Newb<br>

        11:30 AM Tournament: Red<br>

        12:00 PM Lunch<br>

        12:00 PM Kiddie Castle: Daycare for kids at field-side<br>

        1:00 PM Bel Bowl<br>

        4:00 PM Final Battle<br>

        6:30 PM Awards Ceremony<br>

        7:00 PM Dragon's Inn Game Room Opens<br>

        <h4>Monday</h4><br>

        8:30 AM Clean Up and Go Home<br>
      </p>
    </div>
  </div>
</div>
