<div class="container containerTextPadding">
<h2>Head Event Coordinators</h2>
  <div class="row containerTextPadding">
  </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="assets/img/ana.jpg" alt="">
        </a>
        <h4>Sir Anastasia</h4>
          <p>
          Anastasia Nagel founded BftR as a day event at UC Irvine with Brian
          Marion in 2009 and the event is basically a continuation of Wedageddon,
          their medieval fighting and camping wedding event. Ana is effectively
          the CEO of BftR and is relatively knowledgeable about most things
          happening at the event or at least all of the objects involved with it.
          Ana mostly spends her free time collecting "impressive" titles as a
          hobby, among her favorites in the collection are: Sir Anastasia of
          Chamonix, Knight of the Western Flame, Empress of the Anduril Empire,
          and current President of Belegarth Medieval Combat Society.
          </p>
        <br>
      </div>

      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="assets/img/cheese.jpg" alt="">
        </a>
        <h4>Darth CheeseHeart</h4>
        <p>
          He looked upon Palpatine, his Master. For the first time, he saw a
          hint of fear in his eyes. Not a fear of death, but only the unusual
          fear that things would, also for the first time, not go according to
          plan.
          "The Rebels will be exiting Hyperspace soon, my apprentice. And you
          must go. Things will unfold as expected, and my time here is at an
          end...but not for long. The galaxy may be without our darkness for
          some time...but you shall bring it back."
        </p>
        <br>
      </div>

      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="assets/img/cheese.jpg" alt="">
        </a>
        <h4>Darth CheeseHeart</h4>
        <p>Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.</p>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h4>Darth CheeseHeart</h4>
        <p>Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.</p>
        <br>
      </div>

      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h4>Darth CheeseHeart</h4>
        <p>Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.</p>
        <br>
      </div>

      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h4>Darth CheeseHeart</h4>
        <p>Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.</p>
        <br>
      </div>
    </div>
</div>
