<div class="container containerTextPadding">
<h2>Head Event Coordinators</h2>
  <div class="row containerTextPadding">
  </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <a href="http://wiki.belegarth.com/Anastasia_of_Chamonix">
            <img class="img-responsive" src="assets/img/ana.jpg" alt="">
        </a>
        <h4>Sir Anastasia</h4>
          <p>
          Anastasia Nagel founded BftR as a day event at UC Irvine with Brian
          Marion in 2009 and the event is basically a continuation of Wedageddon,
          their medieval fighting and camping wedding event. Ana is effectively
          the CEO of BftR and is relatively knowledgeable about most things
          happening at the event or at least all of the objects involved with it.
          Ana mostly spends her free time collecting "impressive" titles as a
          hobby, among her favorites in the collection are: Sir Anastasia of
          Chamonix, Knight of the Western Flame, Empress of the Anduril Empire,
          and current President of Belegarth Medieval Combat Society.
          </p>
        <br>
      </div>

      <div class="col-md-4 col-xs-12">
        <a href="http://wiki.belegarth.com/Darth_Cheeseheart">
            <img class="img-responsive" src="assets/img/samuraiCheese.jpg" alt="">
        </a>
        <h4>Darth CheeseHeart</h4>
        <p>
          Darth Cheeseheart—Sith Lord in the Medieval world of Belegarth, and a
          man of many titles. Darth Cheeseheart, also a knight, hails from the
          realm of Stronghold of the Anduril Empire. He is the leader of the
          Sith Empire, a group of black-and-silver-clad warriors, artisans, and
          servants of the community. Cheeseheart has been with Battle for the
          Ring since its inception as a day event at the University of
          California, Irvine, and has served as the BftR’s Fighting Coordinator
          and an Event Coordinator since the third installment. He is
          responsible for creating and executing the “theme” of the event each
          year through pre-event publicity, back-story creation, and
          thematically-appropriate scenario battles. He is also the founder of
          the Bel Bowl, BftR’s 10-Man Aztec Football tournament. Darth
          Cheeseheart’s one goal is to create a truly unique fighting
          experience, for Belegrim old and new, each and every year of the event.
        </p>
        <br>
      </div>

      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="../assets/img/ana.jpg" alt="">
        </a>
        <h4>Sir Placeholder</h4>
        <p>Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.</p>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h4>Darth CheeseHeart</h4>
        <p>Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.</p>
        <br>
      </div>

      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h4>Darth CheeseHeart</h4>
        <p>Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.</p>
        <br>
      </div>

      <div class="col-md-4 col-xs-12">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h4>Darth CheeseHeart</h4>
        <p>Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.Eats souls. King of duels. Collector of pain. Shaker of salt. etc etc.</p>
        <br>
      </div>
    </div>
</div>
