$color-primary: #000000;
$color-sar-orange: #FF6030;
h2{
  color: #000000;
}

.heroMain{
  //gradiennt and parallax
  background-color: $color-sar-orange;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;;
  margin-bottom: 0;

  h1{
    color: $color-primary;
    a{
      text-decoration: none;
      color: $color-primary;
    }
  }
  h3{
    margin-top:0px;
  }
  p{
    color: $color-primary;
  }

}
.removeBottomMargin{
  margin-bottom: 0;
}
.whatToExpectFluff{
  //hero image
  background-image:url(../assets/img/bftrAbove.jpg);

  //Height
  height:400px;

  //Parallax
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whatToExpectFluffPadding{
  padding-bottom: 40px;
}
.whatToExpectTextPadding{
  padding-bottom: 85px;
  padding-top: 40px;
  h1{
    a{
      text-decoration: none;
      color: #333333;
    }
  }
}

.heroFluffContainer{
  padding-top: 25px;
}
.heroMainFluff{
  //hero image
  background-image:url(../assets/img/heroSecondary.jpg);

  //Height
  height:400px;

  //Parallax
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.heroSecondaryFluff{
  //hero image
  background-image:url(../assets/img/volunteerImg.jpg);

  //Height
  height:400px;


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.body1Fluff{
    margin-top: 25px;
    margin-bottom: 0;
    background-image:url(../assets/img/fieldBattle.jpg);

    //Parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    //Height
    height:400px;


}
.containerTextPadding{
  padding-top: 14px;
}
.container .jumbotron{
    border-radius: 0px;
    margin-bottom: 0;
}


.btn{
  background-image: none;
}
