$color-primary: #000000;
$color-sar-orange: #FF6030;
$color-sar-lightOrange:#ff9371;
$color-sar-paleOrange: rgba(255, 96, 48, 0.15);
h2{
  color: #000000;
  font-weight: 400;
  font-size: 28px;
}
h3{
  font-weight: 400;
}
p{
  font-size: 18px;
}

li{
  font-size: 22px;
}
//li:nth-child(odd) {
//  background: rgba(255, 96, 48, 0.15);
//}
.heroMain{
  //gradiennt and parallax
  background-color: $color-sar-orange;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0;

  h1{
    color: $color-primary;
    a{
      text-decoration: none;
      color: $color-primary;
    }
    margin-bottom: 8px;
    margin-top:15px;
    font-size: 28px;

  }
  h3{
    margin-top:0px;
  }
  p{
    color: $color-primary;
    font-size: 18px;
  }

}
.removeBottomMargin{
  margin-bottom: 0;
}
.whatToExpectFluff{
  //hero image
  background-image:url(../assets/img/bftrAbove.jpg);

  //Height
  height:400px;

  //Parallax
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whatToExpectFluffPadding{
  padding-bottom: 40px;
}
.whatToExpectTextPadding{
  padding-bottom: 85px;
  padding-top: 40px;
  h1{
    a{
      text-decoration: none;
      color: #333333;
    }
  }
}

.heroFluffContainer{
  padding-top: 25px;
}
.heroMainFluff{
  //hero image
  background-image:url(../assets/img/heroSecondary.jpg);

  //Height
  height:400px;

  //Parallax
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.heroSecondaryFluff{
  //hero image
  background-image:url(../assets/img/volunteerImg.jpg);

  //Height
  height:400px;


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.body1Fluff{
    margin-top: 25px;
    margin-bottom: 0;
    background-image:url(../assets/img/fieldBattle.jpg);

    //Parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    //Height
    height:400px;


}
.containerTextPadding{
  padding-top: 14px;
  .nonListParagraphContent{
    padding-left: 18px;
  }

}
.container .jumbotron{
    border-radius: 0px;
    margin-bottom: 0;
}
.jumbotron{
  padding-bottom: 0px;
  padding-top: 0px;
}


.btn{
  background-image: none;
}
.btn-next{
  background-color: $color-sar-paleOrange;
}


.indexBtnStyle{
  .btn{
    text-align: left;
  }
}


.btn-lg{
    font-size: 20px;
}

.btn-prev{
  font-size: 18px;
}
.sarTables{
  tbody{
    tr{
      td{
        font-size:22px;
      }
    }
  }
}

table td + td{  /* this will go to the 2nd column of a table directly */


}
table{
  tr:nth-child(odd) {
    background-color: #D2D2D2;
    background-color: $color-sar-paleOrange;
  }
  tr:first-child td{
    background-color: #BABABA;
    background-color: $color-sar-lightOrange;
  }
}
.buttonChoiceOR{
  text-align: center;
  padding-top: 10px;
}
.btnStyleSecondaryAssess{
  text-align: left;
  white-space: normal;
  margin-top: 10px;
}
