$color-title-text: #F8A807;
$color-primary: #000000;
$color-sar-brown: #510100;
$color-sar-lightOrange: #ff9371;
$color-orange: #FF6030;
$color-sar-paleOrange: rgba(255, 96, 48, 0.15);



h2{
  color: #000000;
  font-weight: 400;
  font-size: 28px;
}
h3{
  font-weight: 400;
}
p{
  font-size: 18px;
}

li{
  font-size: 22px;
}

img{
   max-width: 100%;
   padding-top: 15px;
   padding-bottom: 8px;
}

a, a:active, a:visited, a:focus {
    text-decoration:none;
    color: $color-primary;
}
a.pdflink{
  font-size: 18px;
  color: $color-orange;
}
#footer {
    height: 15px;
}


.dropDown{
  margin-top: 5px;
  li{
    font-size:20px;
  }
}

.heroMain{
  //gradiennt and parallax
  background-color: $color-sar-brown;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0;

  h1{
    color: $color-title-text;
    margin-bottom: 8px;
    margin-top:15px;
    font-size: 42px;

  }
  p{
    color: $color-title-text;
    font-size: 30px;
  }

}
.removeBottomMargin{
  margin-bottom: 0;
}


.containerTextPadding{
  padding-top: 14px;
  background-color:#F3ECC9;
  .nonListParagraphContent{
    padding-left: 18px;
  }
  height: 100%;

}
.container .jumbotron{
    border-radius: 0px;
    margin-bottom: 0;
}
.jumbotron{
  padding-bottom: 0px;
  padding-top: 0px;
}


.btn{
  background-image: none;
}
.btn-next{
  background-color: $color-sar-paleOrange;
}





.btn-lg{
    font-size: 20px;
}
.btn-lg:hover{
  background-color: $color-sar-paleOrange;
}

.btn-lg:active, .btn-lg.active{
  background-color:$color-sar-paleOrange;
}
.btn-lg:focus{
  background-color:$color-sar-paleOrange !important;
}


.btn-prev{
  font-size: 18px;
}

.buttonChoiceOR{
  text-align: center;
  padding-top: 10px;
}

.carousel-inner{
  background-position: 50%;
  width:100%;
  max-height: 250px !important;
}
